body {
    box-sizing: border-box;
}

.calculator {
    padding: 6px;
    margin: 0 auto;
    background-color: #205b7a;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.display {
    background-color: #a2bbcf;
    font-size: 30px;
    display: flex;
    border-style: solid;
    border-width: 2px;
    height: 32px;
    justify-content: right;
    align-items: center;
}

button {
    height: 32px;
    width: 32px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.digits {
    display: flex;
    flex-direction: column;
}

.operators {
    display: flex;
    flex-direction: column;
}

.operatorbtn {
    background-color: #FF6961;
}

.equalsbtn {
    background-color: #c1e1c1;
}

.clear {
    background-color: #FAC898;
}